@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Banking System</h1>
    <p class="lead">Banking System allows you to create and close account, deposit, withdraw and transfer your money.</p>
    <p>@Html.ActionLink("Learn more", "Register", "Authentication", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Info block 1</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum dictum pharetra. 
            Proin tristique hendrerit erat nec ullamcorper. Fusce quis egestas leo. Aenean luctus quam 
            imperdiet ultricies feugiat. In lobortis risus sit amet risus vestibulum, vel interdum erat 
            ultricies. Praesent luctus pellentesque purus in interdum. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Proin quis ante magna. Quisque quis dapibus mauris. Duis nec 
            mi nisl. Integer non eleifend quam. Nulla ullamcorper purus quis felis varius congue.
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Info block 2</h2>
        <p>
            Vivamus maximus ante eu sem venenatis, sed molestie lacus consequat. Morbi ullamcorper 
            scelerisque efficitur. Suspendisse potenti. Nam euismod euismod feugiat. Vivamus posuere 
            aliquam neque nec ullamcorper. Donec eget facilisis elit. Nam eleifend condimentum felis, 
            quis volutpat felis bibendum ultrices. Phasellus non augue elit.
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Info block 3</h2>
        <p>
            Aliquam vestibulum lacus ac ornare pulvinar. Curabitur hendrerit laoreet metus, at hendrerit 
            lorem accumsan et. Quisque tellus elit, volutpat vitae purus tempus, vulputate eleifend elit. 
            Nulla venenatis massa ut ornare ultrices. Duis eu dolor lacus. Vestibulum a dui cursus, fringilla 
            purus in, tristique dolor. Etiam nec quam ut mauris feugiat lacinia eget et libero.
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
</div>